@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #0a0a0a;
    color: #e4e4e7;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
